body
{
margin: auto;
max-width: 650px;
line-height: 1.8;
font-size: 18px;
color: #444444;
padding: 10px;
font-family: " Times New Roman", Impact,  "Arial Black", Verdana, san-serif;
}

em
{
font-style: italic;
}

h1
{
font-size: 36px;
font-weight: bold;
}

h1, h2, h3
{
line-height: 1.2
}

footer
{
border-top: 1px black solid;
}


