body
{
margin: 40px, auto;
max-width: 650px;
font-size: 18px;
font-family: " Times New Roman", Impact,  "Arial Black", Verdana, san-serif;
}

em
{
font-style: italic;
}

h1
{
font-size: 40px;
font-weight: bold;
}





